*{
	margin: 0;
	padding: 0;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(IMAGES/login_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;

}

#signuphead{
	color: #ffff;
	padding-top: 30px;
	padding-left:30px; 
	float: left;
	position: absolute;
}

form{
	top:30%;
	left: 40%;
	position: absolute;
}
input{
	display: block;
	width: 350px;
	height: 50px;
	margin: 20px;
	border: none;
	outline: none;
	font-size: 15px;
	border-bottom: 1px solid white;
	background: transparent;
	color: #ffff;
}
button{
	width: 100px;
	height: 40px;
	font-size: 15px;
	background-color: #ffff;
	color: #000;
	border-radius: 30px;
	
}
::placeholder{
	color: silver;
}
button a{
	text-decoration: none;
	color:black;
}
#login-text{
	float: right;
	padding-top: 700px;
	padding-right: 30px;
	color: white;
}
#login-text a{
	color: #fff;
}
